.border-secondary-2{
    border-color: $secondaryLight2 !important;
}
.nav-tab{
    background-color: $primaryLight;
    margin: 0 -24px;
    padding: 0 24px;
    li{
        .nav-link{
            padding: 12px 30px;
            color: $black;
            position: relative;
            @include media-breakpoint-down(sm){
                padding: 12px 15px;
            }
            &.active{
               &:after{
                    content: "";
                    position: absolute;
                    height: 2px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: $black;
               }
            }
        }        
    }
}

.label-radio{   
    h3{
        font-size: 12px;
        font-weight: 500;
        margin: 0;
        color: $black;
        @include media-breakpoint-up(sm){
            font-size: 13px;
        }
    }
    label{
        border: 1px solid $secondaryLight2;
        border-radius: 4px;       
        color: $secondary;
        font-size: 10px;
        padding: 7px 7px 7px 35px;
        position: relative;  
        cursor: pointer;   
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-height: 40px; 
        margin: 0;
        @include media-breakpoint-up(sm){
            padding: 11px 11px 11px 50px;
            min-height: 55px; 
        }
        > *{
            margin: 0;    
            flex:  1 1 100%;       
        }
        p{       
           display: flex;
           align-items: center;
           flex-wrap: wrap;
           .bi{
              font-size: 16px;
              line-height: 1;
              margin-right: 2px;
              @include media-breakpoint-down(sm){
                display: none;
              }             
           }
           strong{
            font-size: 11px;
            padding-right: 5px;
             color: $primary;
             @include media-breakpoint-down(sm){
                display: block;
                padding-right: 0;
                flex: 0 0 100%;
             }
           }
        }
        &:before{
            content: "";   
            font-family: "bootstrap-icons";
            width: 22px;
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 7px;
            top: 50%;
            font-size: 20px;
            margin-top: -11px;
            border-radius: 50%;
            position: absolute;
            margin-right: 10px;
            background-color:$secondaryLight2;
            @include media-breakpoint-up(sm){
                width: 28px;
                height: 28px;
                left: 11px;
                font-size: 26px;
                margin-top: -14px;
            }
        }
    }    
    input[type="radio"],
    input[type="check"]{
        display: none;
        &:checked{
             + label{
                background-color:$secondary;
                color: $white;
                h3{
                    color: inherit;
                }
                p{
                    strong{
                        color: $secondaryLight2;
                    }
                }
                &:before{
                    content: "\F26E";  
                    background-color: $white;
                    color: $secondary;
                }
             }
        }
    }
        
}

.label-check{
    @extend .label-radio;
}

.links-box{
    > .row{
        > div{
            @include media-breakpoint-up(xxl){
                flex: 0 0 20%;
            }            
        }
    }

    .label-radio,
    .label-check{
        label{
            width: 100%;
        }
    }

}

.search-location-properties{
    .form-control,
    .form-select{        
        font-size: 12px;
        @include media-breakpoint-down(sm){
            height: 38px;
            font-size: 11px;
        }
    }
    .btn{
        padding: 14px 25px;
        border-radius: 6px;
    }
}

.booking-price-info{
    --bs-table-color-state: #{$secondary} !important;
    >:not(caption)>*>*{
        padding: 0.25rem 1rem !important;
    }
}

label{
    sup{
        top: -0.1em;
    }
}

.form-cl{
    position: relative;
    &:before{
        content: "\F218";
        font-family: "bootstrap-icons";
        position: absolute;
        left: .5rem;
        top: 50%;
        z-index: 2;
        font-size: 16px;
        color: $secondary;
        transform: translateY(-50%);
        pointer-events: none;
        @include media-breakpoint-up(sm){
            left: .75rem; 
            font-size: 19px;
        }
    }
    > *{
        padding-left: 30px;
        @include media-breakpoint-up(sm){
            padding-left: 40px;
        }
    }
}